@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap');

:root {
  --primary-color: #3c3c3c;
  --secondary-color: #ff9999;
  --background-color: #f4f4f4;
  --text-color: #333;
  --white-color: #fff;

  --font-size-small: 0.8em;
  --font-size-medium: 1em;
  --font-size-large: 1.2em;
  --font-size-xlarge: 2em;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 20px;

  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --fade-in: fadeIn 1s ease-in-out;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

header {
  background: var(--primary-color);
  color: var(--white-color);
  padding: var(--spacing-large) 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: var(--font-size-xlarge);
}

header p {
  margin: var(--spacing-small) 0 0;
  font-size: var(--font-size-large);
}

main {
  padding: var(--spacing-large);
}

section {
  margin-bottom: var(--spacing-large);
  background: var(--white-color);
  padding: var(--spacing-large);
  box-shadow: var(--box-shadow);
  animation: var(--fade-in);
}

.table-section .dropdown-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-large);
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  padding: var(--spacing-medium);
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.table-section .dropdown-title:hover {
  background-color: var(--primary-color);
  /* Eliminamos el efecto de hover */
}

.table-section .filter-form {
  margin-bottom: var(--spacing-medium);
}

.table-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--spacing-medium);
}

.table-section th,
.table-section td {
  border: 1px solid #f2f2f2;
  padding: var(--spacing-small);
  text-align: center;
}

.table-section th {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.table-section .highlight {
  background-color: var(--secondary-color);
}

.charts-section {
  text-align: center;
}

.chart-container {
  margin-bottom: var(--spacing-large);
}

footer {
  text-align: center;
  padding: var(--spacing-small) 0;
  background: var(--primary-color);
  color: var(--white-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* mediaquery desktop */
@media (min-width: 880px) {
  .chart-container {
    display: inline-block;
    margin: var(--spacing-large);
    width: 70%;
  }
}
